extends layout

block content
    div(class='wrapper')
        h1= title
        
        div.bg-success Subscription activated! You will receive an email with your current balance in a few moments and in future on every balance change.
        a(href="/subscribe")
            button.btn-success Create another one