extends layout

block content
    div(class='wrapper')
        h1= title
        
        div.bg-success Subscription deleted!
        a(href="/subscribe")
            button.btn-success Create a new subscription