extends layout

block content
    div(class='wrapper')
        h1= title
        
        div.bg-success Subscription deleted! You will receive an email to verify this step in a few moments. Please click the link in this email to confirm the deletion.
        a(href="/subscribe")
            button.btn-success Create a new subscription